{% extends "base.html" %}

{% block Head %}
  <title>Email App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block Body %}
  <h1>Send Gmail</h1>
  <form action="/send" method="post">
    <input type="email" name="to" placeholder="Recipient Email" required><br><br>
    <input type="text" name="subject" placeholder="Subject" required><br><br>
    <textarea name="message" placeholder="Message" rows="5" cols="30"></textarea><br><br>
    <button type="submit">Send</button>
  </form>
  <br>
  <a href="/inbox"><button>View Inbox</button></a>
{% endblock %}
